/*
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dela+Gothic+One&family=Oswald:wght@300;400;700&family=Russo+One&family=Saira+Extra+Condensed:wght@200;400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

a{
    color: white;
    text-decoration: none;
    border: 1px;
    text-shadow: 3px -1px 8px rgba(0,0,0,1);
}

header{
    background-color: rgb(220, 20, 20);
}

p{
    color: white;
    font-family: 'Saira Extra Condensed', sans-serif;
    font: 200;
    text-align: center;
}

h1{
    color: rgb(220, 20, 20);
    font-family: 'Dela Gothic One', cursive;
}

h2{
    color: white;
    font-family: 'Dela Gothic One', cursive;;
    font-size: 7rem ;
    max-width: 40%;

}

h3{
    color: white;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 2rem ;
    max-width: 2000%;
}
label{
    color: gray;
    font-family: 'Saira Extra Condensed', sans-serif;
    font: 200;
    font-size: larger;
}

legend{
    color: gray;
    font-family: 'Saira Extra Condensed', sans-serif;
    font: 200;
    font-size: larger;
}

h6{
    color: gray;
    font-family: 'Saira Extra Condensed', sans-serif;
    font: 200;
    font-size: larger;
}


li{
    width: 100%;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-family: 'Alfa Slab One', cursive;
    font: 400;
    font-size: large;
    display: inline;
    padding-left: 85px;
    padding-left: 85px;
}

ul{
    justify-content: space-evenly;
    overflow: hidden;
    display: inline;
}

iframe{
    margin: 50px 50px 50px 50px;
    display: inline;
}
*/


/*----------------------------------------------------------------------------------------------------------------------------------------------*/

/*
.navegacion{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.navegacion li{
    padding-left: auto;
    padding-right: auto;
}


.txtSobreImagen{
    position: absolute;
    left: 5vh;
}
.bannerTop h2{
    bottom: 5vh;
}
.bannerTop h3{
    bottom: -8vh;
}
.txtSobreImagen a{
    color: blue;
    text-decoration: underline;
    border-color:white;;
}
.bannerTop{
    width: 100%;
    height: 700px;
    scroll-behavior: smooth;
    background-color: black;
    overflow: hidden;
}
.videoTop{
    width: 100%;
    height: 100vh;
    opacity: 50%;
    object-fit: cover;
}
.textoBanda{
    background-color: rgb(220, 20, 20);
    text-shadow: 3px -1px 8px rgba(0,0,0,1);
    height: 250px;
    font-size: x-large;
    display: flex;
    align-items: center;
}
.LogoTop{ 
    display: inline;
    max-width: 30vh;
}
.musica{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 350px;
    scroll-behavior: smooth;
    background-color: black;
    overflow: hidden;
    background-image: url(../assets/img/banner1.jpg);
    background-position: 50% 70%;
}

.listadoAlbums{
    width: 50%;
}
.fotoAlbum{
    width: 50%;
    background-color: wheat;
    justify-self: flex-end;
}

.musica li{ 
    margin: 20px 0px 20px 0px;
    display: block;
    align-content: space-evenly;
}
.musica ul{
    position: absolute;
    display: inline;
    align-content: space-evenly;
}
.proximosShows{
    display: grid;
    align-items: center;
    background-color: blueviolet;
    width: 100%;
    height: 700px;
    text-shadow: 3px -1px 8px rgba(0,0,0,1);
    overflow: hidden;
}
.proximosShows h2{
    margin: 10px 0px 10px 0px;
    font-size: 2rem;
    justify-self: center;
}
.mapaShows{
    align-content: center;
}
.tituloPag{
    display: none;
}

*/