@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dela+Gothic+One&family=Oswald:wght@300;400;700&family=Russo+One&family=Saira+Extra+Condensed:wght@200;400;700&display=swap");
.sombraTexto {
  text-shadow: 3px -1px 8px rgb(0, 0, 0);
}

.fondoPrincipal {
  background-color: #dc1414;
}

.fondoNegro {
  background-color: black;
}

.fondoBlanco {
  background-color: white;
}

.fondoGrisOscuro {
  background-color: #181717;
}

.fondoGradientGrisRojo {
  background-image: linear-gradient(to bottom, #181717, #491e1f, #791f22, #ab1b20, #dc1414);
  background-repeat: no-repeat;
}

.fondoGradientNegroRojoHOR {
  background-image: linear-gradient(to bottom, #181717, #3d1d1d, #611f21, #861e22, #ab1b20, #bb191d, #cc161a, #dc1414, #dc1414, #dc1414, #dc1414, #dc1414);
  background-repeat: no-repeat;
}

.overHidden {
  overflow: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ab1b20;
}

.logoSpotify {
  height: auto;
  max-height: 40vh;
  max-width: 40%;
}
.logoSpotify:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.logoYoutube {
  max-height: 80vh;
  max-width: 40%;
  margin-top: -1rem;
}
.logoYoutube:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.sectionSpotiYT {
  margin-top: -2rem;
}

.botonCompraEntrada {
  color: white;
  border-radius: 1rem;
  width: 25rem;
  height: 4rem;
  box-shadow: 3px -1px 8px rgb(0, 4, 0);
}

.fuente1 {
  font-family: "Dela Gothic One", cursive;
}

.fuente2 {
  font-family: "Saira Extra Condensed", sans-serif;
}

.fuenteBlanca, a {
  color: white;
}

html {
  font-size: 24px;
  background-color: #181717;
}

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.cabecera {
  background-color: #181717;
}

.LogoTop {
  max-width: 40vh;
}
.LogoTop:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.bannerTop {
  background-color: black;
  opacity: 90%;
  padding: top -35rem;
}

.videoTop {
  max-height: 80vh;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.LogoTop {
  min-width: 20vh;
}

.txtSobreImagen h1 {
  font-size: 8em;
  font-size: 20vh;
}

.listadoAlbums {
  height: 100%;
}

.fotoMusica {
  -o-object-fit: contain;
     object-fit: contain;
  width: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.textoBanda {
  background-color: #dc1414;
}

.sectionSuscripcionShows video {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100vh;
  height: auto;
}

.spotifyPlugin {
  margin: 1rem;
}
.spotifyPlugin:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
}

.bandaGuido:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.bandaPato:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.bandaGaston:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

@media screen and (max-width: 768px) {
  ul {
    display: none;
  }
  .LogoTop {
    min-width: 20vh;
  }
  .fotoMusica {
    display: none;
  }
  .tarjetasBanda {
    font-size: 6;
  }
  .textoBanda {
    font-size: 5;
  }
  .sectionSuscripcionShows {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  ul {
    display: none;
  }
  .LogoTop {
    min-width: 20vh;
  }
  .fotoMusica {
    display: none;
  }
  .listadoAlbums li {
    text-align: center;
    justify-content: center;
    display: block;
  }
  .sectionSpotiYT {
    display: flex;
    flex-direction: row;
  }
  .pieDePagina {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */