.bandaGuido{
    &:hover{
        transform: scale(1.05);
        transition: transform 0.5s;
    }
}

.bandaPato{
    &:hover{
        transform: scale(1.05);
        transition: transform 0.5s;
    }
}
.bandaGaston{
    &:hover{
        transform: scale(1.05);
        transition: transform 0.5s;
    }
}