$fuente1: 'Dela Gothic One', cursive;
$fuente2: 'Saira Extra Condensed', sans-serif;

$color-blanco: white;
$color-negro: black;
$color-principal: #dc1414;
$color-grisOscuro: #181717;

$size:(
    1-rem: 1rem,
    2-rem: 2rem,
    vhXS: 20vh,
    vhS: 40vh,
    vhM: 60vh,
    vhL: 80vh,
    vhXL: 10vh,
    full: 100%,
    80: 80%,
    60: 60%,
    40: 40%,
    20: 20%,
);

